{% extends "default.html" %}

{% block content %}
    {{request.user}}
    {% for item in list %}
        <hr>
        Автор ответа: {{item.author__username}}
        <br>
        Текст ответа: {{item.text}}
        <br>
        Дата публикации: {{item.time_create}}
        <br>
        Заголовок статьи: {{item.ads__title}}
        <li class="nav-item"><a class="nav-link active" aria-current="page" href=#>Принять</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href='{{item.id}}/delete'>Удалить</a></li>
        <hr>
    {% endfor %}
{% endblock %}